form.forminsert {
                  width: 18%;
                  margin: 0 auto;
                  border: 1px solid;
                  padding: 13px;
        }
        
.footer_msg     {
                  width: 18%;
                  margin: 0 auto; 
                  padding: 13px;
        }